*{margin: 0; padding: 0;}
/* 글꼴 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


li{list-style: none;}
a{text-decoration: none; color: black; display: block;
    font-family: 'Noto Sans KR', sans-serif;}
body{font-family: 'Noto Sans KR', sans-serif;}
header, section, footer{
    /* 헤더, 섹션, 푸터 위치 고정 */
    float: left;
    width: 100%;
    box-sizing: border-box;
}
div{
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    margin: 0 auto;
}
/* header의 범위를 정한다. */
header{
    height: 60px;
    margin: 0 auto;
    box-shadow: 0px 5px 5px #ddd;
    background-color: white;
    /* box-shadow 효과을 주기위해 position을 넣고 z-index로 순서를 준다. */
    /* position: fixed로 브라우저 위쪽 고정으로 만들어서 스크롤을 내려도 위쪽에 고정된다. */
    position: fixed;
    z-index: 9;
}
/* #holog + nav의 총 범위를 정한다. */
.center_box{
    width: 1200px;
    margin: 0 auto;

}
/* #hlogo의 위치를 정한다. */
header #hlogo{
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
header nav{
    float: left;
    margin-left: 160px;
}
header nav > ul{
    /* z-index를 적용하려면 position을 써주어야 함 */
    position: relative;
    /* 메뉴 영역을 . sub_bg보다 앞에 배치,
    숫자가 클수록 앞쪽으로 나옴, 1~양수만 허용됨 */
    z-index: 11;
}
header nav > ul > li{
    float: left;
    margin: 20px 30px;
}
header nav > ul > li > a{
    font-size: 18px;
    color: #666;
    font-weight: bold;
    padding-bottom: 30px;
}
header nav > ul > li:hover > a{
    color: #812990;
}
header nav .sub{
    /* padding: 20px 0; */
    /* display: none; */
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}
header nav .sub li a{
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
header nav .sub li a:hover{
    color: #812990;
}
header nav:hover .sub{
    /* display: block; */
    height: 300px;   
}
/* 서브메뉴 배경 */
header nav .sub_bg{
    width: 100%;
    height: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 60px;
    left: 0;
    /* 서브메뉴 뒤로 이동 - 순서 */
    z-index: 10;
    transition: all 0.5s;
}
header nav:hover .sub_bg{
    height: 300px;
}
section{
    text-align: center;
}
section .visual{
    /* 자식객체 .btn의 위치 설정할 때 기준은 .visual */
    position: relative;
}
section .visual .btn{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eee;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #fff;
}
section .visual .btn ul li{
    float: left;
    padding: 0 20px;
    border-right:1px solid #eee;
}
/* .btn ul li의 마지막 객체의 오른쪽 테두리 없앰 */
section .visual .btn ul li:last-child{
    border: none;
}
/* 본문 두번째 영역 */
section .store{
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
}
section .store ul li{
    float: left;
    margin: 10px;
}
/* 부모객체의 가로크기는 100% */
section .intro{
    width: 100%;
    /* 자식객체에 margin-top이 적용 안될때 사용 */
    float: left;
    margin: 0 auto;
}
/* 자식객체에 가로실이 설정하고 가운데 정렬, 바깥위쪽여백 */
section .intro a{
    width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
}
section .facebook{
    float: left;
    background-color: #ddd;
    width: 100%;
    height: 800px;
    margin-top: 70px;
    position: relative;
}
section .facebook .center_box{
    width: 1080px;
    margin: 0 auto;
    
}
section .facebook h1{
    font-size: 30px;
    text-align: left;
    margin: 50px 0 20px;
    color: #444;
}
section .facebook .list{
    width: 100%;
    margin: 0 auto;
}
section .facebook .list ul li{
    float: left;
    margin: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
section .facebook .list ul li img{
    width: 100%;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
section .facebook .list ul li:hover img{
    /* transform: scale(1.2, 1.2); */
    width: 110%;
}
section .facebook .btn2{
    /* .list의 li에 있던 float:left의 영향을 받지 말자! */
    float: left;
    width: 100%;
    margin-top: 50px;
}
section .facebook .btn2 a{
    width: 160px;
    height: 40px;
    border: 1px solid #812990;
    border-radius: 30px;
    color: #812990;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
}
footer{
    background-color: #444;
}
footer .center_box{
    width: 1100px;
    margin: 0 auto;
}
footer  .center_box .footlogo img{
    float: left;
    margin: 10px 0;
}
footer .center_box address{
    float: left;
    font-size: 12px;
    color: #999;
    margin: 10px;
    font-style: normal;
}
footer .center_box .info{
    float: right;
    padding-top: 24px;
}
footer .center_box .info ul{
    float: left;
}
footer .center_box .info ul li{
    float: left;
    border-right: 1px solid #999;
    padding: 0 10px;
}
footer .center_box .info ul li a{
    font-size: 12px;
    color: #999;
}
footer .center_box .info ul li:last-child{
    border: none;
}
footer .center_box .info select{
    width: 100px;
    float: right;
}
footer .center_box .info select option{
    font-size: 10px;
}